body {
  color: #151515

}

.aside {
  background-color: #EEE;
  border-right: 1px solid #151515;
  margin-right: 20px;
  float: left;
}

/*#############    NavBar   ##################*/

/* ##### TO DO ############## */
/*Tester le menu sticky et changer la police de texte */




/*#############    Cards   ##################*/
.card {
  max-width: 15rem !important;
  transition: transform .2s!important;
  height: auto !important;
  width: 170px !important; 
  margin: 5px;
}

.card:hover {
  transform: scale(1.05); 
}

/*#############    Jumbotron   ##################*/
.jumbotron {
  border-radius: 0px!important;
}