{{ partial "head.html" . }}

{{ partial "header.html" . }}

<div class="main">
    {{if eq .Draft true}}
        <h1>Sorry, this event is in construction.</h1>
    {{else}}
        {{$title := lower .Params.association}}
            <div class="container mt-5">
                <div class="row d-flex justify-content-center">
                    <div class="col-12">
                        <h1>
                            {{if .Params.photos}}
                                <img src="/img/events/{{.Params.photos}}" alt="image de l'event {{.Title}}">
                            {{else}}
                                <img src="/img/default/defaultEvent.jpeg" alt="image par défaut">
                            {{end}}
                            {{ .Title }}
                        </h1>
                        <p>Date : {{(dateFormat "Monday, Jan 2, 2006" .Params.when)}}</p>
                        <hr>
                        <p>Label : {{.Params.address.label}}</p>
                    </div>
                    <div class="col-12">
                            <a class="btn btn-outline-info" href="/events">Retour vers tous les événements</a>
                    </div>
                </div>
            </div>
        
            {{ range (where .Site.RegularPages "Type" "associations")}}
                {{$linkAssociation := lower .Title}}
                {{ if eq $linkAssociation $title}}
                    <div class="container mt-5">
                        <div class="row d-flex justify-content-center">
                            <div class="col-12">
                                <h1><img src="/img/associations/{{.Params.photo}}" alt="image de l'association {{.Title}}"> {{ .Title }}</h1>
                                <p>Domaine : {{ .Params.domain}}</p>
                                <hr>
                                <p>Description : {{.Description}}</p>
                                <a class="btn btn-outline-info" href="{{ .URL }}">En savoir plus</a>
                            </div>
                        </div>
                    </div>
                {{ end }}
            {{ end }}
    {{end}}


    {{ partial "footer.html" .}}
</div>
