{{ partial "head.html" . }}

{{ partial "header.html" . }}
{{$title := lower .Title}}

<div class="main">
    <div class="container mt-5">
        <div class="row d-flex justify-content-center">
            <div class="col-12">
                <h1><img src="/img/associations/{{.Params.photo}}" alt="image de l'association {{.Title}}"> {{ .Title }}</h1>
                <p>Domaine : {{ .Params.domain}}</p>
                <hr>
                <p>Description : {{.Description}}</p>
                {{.Content}}
            </div>
            <div class="col-12">
                <a class="btn btn-outline-info" href="/associations">Retour vers les associations</a>
            </div>
            
            <hr>

            <h2 class="col-12">Liste des événements proposés par l'association {{.Title}} :</h2>
        {{ range (where .Site.RegularPages "Type" "events")}}
            {{$linkEvent := lower .Params.association}}
            {{ if eq $linkEvent $title}}
                {{partial "events.html" .}}
            {{ end }}
        {{ end }}
        </div>
    </div>

    {{ partial "footer.html" .}}
</div>

